<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History | Simple Counter</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="/stylesheets/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="/scripts/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="/stylesheets/main.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h2>Simple Counter: History</h2>
        <a class="btn blue" href="/list">Back to list <i class="material-icons left">arrow_back</i></a>
        <ul class="collection">
            <li class="collection-item hist-item">
                <span>Added to "Cat sightings" (11 to 12)</span>
                <a href="#" class="secondary-content btn">Undo <i class="material-icons right">undo</i></a>
            </li>
            <li class="collection-item hist-item">Added tag "animal" to "Cat sightings"</li>
            <li class="collection-item hist-item">Moved "Cat sightings" from position 10 to 1</li>
            <li class="collection-item hist-item">Renamed "Cat Sightings" to "Cat sightings"</li>
            <li class="collection-item hist-item">Created "Cat Sightings" (11, tags: "counting")</li>
            <li class="collection-item hist-item">Deleted "test" (8, no tags)</li>            
        </ul>
    </div>
</body>

</html>