<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Counter</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="/stylesheets/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="/scripts/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1> Simple Counter </h1>
        <h2> Welcome! </h2>
        <a class="btn blue" href="/list"> <i class="material-icons right">arrow_forward</i> Enter</a>
        <div style="margin:80px" class="center-align">
            <img src="/images/counters.jpg" class="responsive-img" alt="Some mechanical counters">
            <caption><em><a href="https://commons.wikimedia.org/wiki/File:CountersMechanical.agr.jpg">CountersMechanical.agr.jpg, by ArnoldReinhold</a>, licensed under <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">CC BY-SA 3.0</a></em></caption>
        </div>
    </div>
</body>

</html>